
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<hr />
Here are some options to contact me :)
<br />
<br />

<div class="row">
    <div class="col-lg-1">
        Twitter: <a href=""> @@Jannik_Sommer </a> <br />
        Support: support@sommersoftware.dk <br />
        Developer: js@sommersoftware.dk<br />
    </div>
</div>