@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Help</h1>

<p>
    Do you need help? Then you're shit out of luck...
</p>