@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>
            This page will explain some privacy features of the web application.
            Expressed shortly, no information about an user is stored outside their own machine.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Data collection</h3>
        <hr />
        <p>
            This website is developed to be easy to use and maintain. Thus there is no database for storing user information.
            Storing of information is done within the user's browser, though local storage, which is completly transparant for the user.
            <a href""> Click here to learn more about local storage</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Transparency</h3>
        <hr />
        <p>
            To incrase transparency, the full source code for the website can be requested. This is not publicly available at the moment, as the API credentials are hardcoded.
            Howver, any requests can be denied if they are deemed unnecessary. <br />
            This section will be updated with more information if the source will be publically available in the future.
        </p>
    </div>
</div>